<div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-4 clr-col-12">
        <a  class="card ">
            <div class="card-img ">
             <img src="{{model.foto}}">
            </div>
            <div class="card-block">
                <p class="card-text">
                    Nombre: {{model.nombre}}<br>
                    Tipo: {{model.tipo}}<br>
                    Edad: {{model.edad}}<br>
                    Descripcion: {{model.descripcion}}<br>
                </p>
            </div>
        </a>
    </div>
</div>