<h1>Lista de Mascotas</h1><br>
<ul class="list">
    <li *ngFor="let mascota of mascotas">
        <a [routerLink]="['/mascotas-detalle', mascota.id]"><td>{{mascota.nombre}}</td></a>
    </li>
</ul>
<br>

<clr-accordion>
    <clr-accordion-panel *ngFor="let mascota of mascotas">
      <clr-accordion-title>{{mascota.nombre}}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded><app-mascotas-detalle [model] ="mascota"></app-mascotas-detalle></clr-accordion-content>
    </clr-accordion-panel>
</clr-accordion>

