<h1>Mascotas para adoptar</h1>

<button class="btn" routerLink="/mascotas-agregar">AGREGAR MASCOTA</button>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Edad</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mascota of mascotas">
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.tipo}}</td>
            <td>{{mascota.edad}}</td>
            <td>{{mascota.descripcion}}</td>
            <td class="acciones">
                <button type="button" class="btn btn-icon" aria-label="editar" [routerLink]="['/mascotas-editar', mascota.id]">
                    <clr-icon shape="pencil"></clr-icon>
                </button>
                <button type="button" (click)="delete(mascota.id)" class="btn btn-icon btn-danger" aria-label="borrar">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>