<h1>Mascotas para adoptar</h1>

<button class="btn" routerLink="/mascotas-agregar">AGREGAR MASCOTA</button>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Edad</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mascota of mascotas">
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.tipo}}</td>
            <td>{{mascota.edad}}</td>
            <td>{{mascota.descripcion}}</td>
        </tr>
    </tbody>
</table>